body {
  color:#cccccc;
  margin: 0px;
  padding: 0px;
  border: 0px;
  background: rgb(1, 15, 58);
  
  /* overflow: hidden; */
}
body.mobile.vertical {
  width: 100vh;
  height: 100vw;
  transform-origin: center;
  position: absolute;
  top: 27%;
  left: -52%;
}
canvas {
  image-rendering: optimizeSpeed;
  -webkit-interpolation-mode: nearest-neighbor;
  -ms-touch-action: none;
  margin: 0px;
  padding: 0px;
  border: 0px;
}
div.gm4html5_div_class
{
  margin: 0px;
  padding: 0px;
  border: 0px;
}
/* START - Login Dialog Box */
div.gm4html5_login
{
  padding: 20px;
  position: absolute;
  border: solid 2px #000000;
  background-color: #404040;
  color:#00ff00;
  border-radius: 15px;
  box-shadow: #101010 20px 20px 40px;
}
div.gm4html5_cancel_button
{
  float: right;
}
div.gm4html5_login_button
{
  float: left;
}
div.gm4html5_login_header
{
  text-align: center;
}
/* END - Login Dialog Box */
:-webkit-full-screen {
  width: 100%;
  height: 100%;
}

.panel-wrap {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: rgb(17, 0, 250);
}

.mobile.vertical .panel-wrap {
  width: 100vh;
  height: 100vw;
}

canvas {
  /* position: absolute; */
  /* transform: translate(-50%, -50%); */
}
.parent-panel-bg-main {
  position: relative;
  background-color: violet;
  height: 100%;
  width: 100%;
} 

  .desktop .parent-panel-bg-main.style-1 {
    width: calc(100vh / 9 * 16);
    height: 100%;
  } 
  .desktop .parent-panel-bg-main.style-2 {
    height: calc(100vw / 16 * 9);
    width: 100%;
  } 
  .mobile.vertical .parent-panel-bg-main.style-1 {
    height: 100vw;
    width: calc(100vw / 9 * 16);
  } 
  .mobile .parent-panel-bg-main.style-2 {
    width: calc(100vh / 9 * 16);
    height: 100%;
  }

  .desktop .panel-bg-main {
    background-image: url('./../../assets/images/bg-main.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
  } 
  .desktop #canvas {
    top: 13.5% !important;
    left: 25.35% !important;
    width: calc(100% - 52%) !important;
    position: absolute;
  }
  .mobile.vertical .canvas {
    margin-top: 29.25%;
    height: 100vw;
    width: calc(100vw / 9 * 16);
  }

  .panel-bg-greeting {
    background-image: url('./../../assets/images/GARFIELD-GREETING-BG-JAPANESE.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
  } 
  
  .mobile .panel-bg-greeting {
    width: 100%;
    height: 100%;
  }


  #img-char {
    position:absolute;
    width: 25%;
    top: 35%;
    left: 17%;
    z-index: 1;
  }

  #img-hand {
    position:absolute;
    width: 25%;
    top: 17%;
    left: 19%;
    z-index: 2;
    animation: handShowUp 4s;
  }

  @keyframes handShowUp {
    0% { 
      opacity: 0;
      margin-top: 20vh;
    }
    84% { 
      opacity:0;  
    }
    85% { 
      opacity: 1;
      margin-top: 21vh;
      animation-timing-function: ease-in;
    } 
    95% {
      margin-top: 13vh;
      animation-timing-function: ease-in;
    }
    100% {
      margin-top: 16vh;
      animation-timing-function: ease-in;
    }
  }

  #img-garfield {
    position:absolute;
    width: 25%;
    top: 6%;
    left: 22%;
    z-index: 0;
    animation: moveFromBottom 5s;
  }

  @keyframes moveFromBottom {
    0% { 
      margin-top: 30vh;
      opacity: 0;
    }
    90% { 
      margin-top: 30vh;
      opacity: 0;
    }
    91% {
      opacity: 1;
    }
    100% {
      margin-top: 6vh;
      opacity: 1;
    }
  }




  .mobile.vertical #img-char {
    position: absolute;
    top: 41%;
    width: 20%;
    left: 22%;
    z-index: 3;
  }

  .mobile.vertical #img-hand {
    position: absolute;
    top: 41%;
    width: 20%;
    left: 24%;
    z-index: 2;
    animation: handShowUpMobile 4s !important;
  }

  @keyframes handShowUpMobile {
    0% { 
      opacity: 0;
      top: 41%;
    }
    84% { 
      z-index: 4;
      opacity:0;  
    }
    85% { 
      top: 37%;
      opacity: 1;
      animation-timing-function: ease-in;
      z-index: 4;
    } 
    95% {
      top: 25%;
      animation-timing-function: ease-in;
      opacity: 1;
      z-index: 4;
    }
    100% {
      top: 27%;
      opacity: 1;
      animation-timing-function: ease-in;
      z-index: 4;
    }
  }

  .mobile.vertical #img-garfield {
    position:absolute;
    top: 41%;
    width: 20%;
    left: 24%;
    z-index: 0; 
    animation: moveFromBottomMobile 5s;
  }

  @keyframes moveFromBottomMobile {
    0% { 
      margin-top: 30vh;
      opacity: 0;
    }
    90% { 
      margin-top: 30vh;
      opacity: 0;
    }
    91% {
      opacity: 1;
    }
    100% {
      margin-top: 6vh;
      opacity: 1;
    }
  }
