body {
  color:#cccccc;
  margin: 0px;
  padding: 0px;
  border: 0px;
  background: black;
}
canvas {
  image-rendering: optimizeSpeed;
  -webkit-interpolation-mode: nearest-neighbor;
  -ms-touch-action: none;
  margin: 0px;
  padding: 0px;
  border: 0px;
}
div.gm4html5_div_class
{
  margin: 0px;
  padding: 0px;
  border: 0px;
}
/* START - Login Dialog Box */
div.gm4html5_login
{
  padding: 20px;
  position: absolute;
  border: solid 2px #000000;
  background-color: #404040;
  color:#00ff00;
  border-radius: 15px;
  box-shadow: #101010 20px 20px 40px;
}
div.gm4html5_cancel_button
{
  float: right;
}
div.gm4html5_login_button
{
  float: left;
}
div.gm4html5_login_header
{
  text-align: center;
}
/* END - Login Dialog Box */
:-webkit-full-screen {
  width: 100%;
  height: 100%;
}


.panel-wrap{
  position: relative;
  width: 100vw;
  height: 100vh;
}

.parent-panel-bg-main {
  position: relative;
  background-color: violet;
} 

  .desktop.parent-panel-bg-main.style-1 {
    width: calc(100vh / 9 * 16);
    height: 100%;
  } 
  .desktop.parent-panel-bg-main.style-2 {
    height: calc(100vw / 16 * 9);
    width: 100%;
  } 
  .mobile.parent-panel-bg-main.style-1 {
    height: calc(100vw / 9 * 16);
    width: 100%;
    overflow: hidden;
  } 
  .mobile.parent-panel-bg-main.style-2 {
    width: calc(100vh / 9 * 16);
    height: 100%;
  }

  .desktop .panel-bg-main {
    background-image: url('./../../assets/images/bg-main.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
  } 
  .desktop #canvas {
    inset: 37.2% -50% -50% 49.35% !important;
    width: calc(100% - 52%) !important;
  }
  .mobile .canvas {
    width: 100%;
    height: 100%;

    -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  transform-origin:center;

  }

  .panel-bg-greeting {
    background-image: url('./../../assets/images/GARFIELD-GREETING-BG-JAPANESE.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
  } 
  
  