body {
  color:#cccccc;
  margin: 0px;
  padding: 0px;
  border: 0px;
  background: black;
}
canvas {
  image-rendering: optimizeSpeed;
  -webkit-interpolation-mode: nearest-neighbor;
  -ms-touch-action: none;
  margin: 0px;
  padding: 0px;
  border: 0px;
}
div.gm4html5_div_class
{
  margin: 0px;
  padding: 0px;
  border: 0px;
}
/* START - Login Dialog Box */
div.gm4html5_login
{
  padding: 20px;
  position: absolute;
  border: solid 2px #000000;
  background-color: #404040;
  color:#00ff00;
  border-radius: 15px;
  box-shadow: #101010 20px 20px 40px;
}
div.gm4html5_cancel_button
{
  float: right;
}
div.gm4html5_login_button
{
  float: left;
}
div.gm4html5_login_header
{
  text-align: center;
}
/* END - Login Dialog Box */
:-webkit-full-screen {
  width: 100%;
  height: 100%;
}


.panel-wrap{
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

  .desktop .pd-bt-16-9 {
    padding-bottom: 56.25%;
  }
  .desktop .panel-bg-main {
    background-image: url('./../../assets/images/asdf.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding-bottom: 56.25%;
    width: 100%;
    position: relative;
  } 
  .desktop #canvas {
    inset: 39.8% -50% -50% 50% !important;
    width: calc(100% - 59%);
  }

  .mobile .canvas {
    width: 100%;
    height: 100%;
  }
  .mobile.panel-wrap{
    width: 100vw;
    height: 100vh;
  }
  .mobile .panel-bg-main {
    /* padding-bottom: 56.25%; */
    width: 100%;
    height: 100%;
  }